body {
    background-color: #1c1739;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    text-align: center;
    color: aliceblue;
}
.generator {
    width: 650px;
    padding: 20px 10px;
   
    border: 2px solid white;
    border-radius: 5px;
    background-color: #1c1739;
}
#result {
    display: block;
    width: 360px;
    color: black;
    background-color: #fff;
    margin-left: 22%;
    padding: 5px;
    border-radius: 5px;
}
#ShowError{
    display: block;
    padding: 2px;
}

button {
    font-weight: 800;
    color: aliceblue;
}
#btn-1 {
    width: 150px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: #8a4ec2;
    border-radius: 5px;
}
#btn-2 {
    width: 180px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: #8a4ec2;
    border-radius: 5px;
}


input:not([type="checkbox"]),
button {
    appearance: none;
    outline: none;
    border: none;
    background: none;
}

input[thpe="checkbox"] {
    cursor: pointer;
}

.pass-wrap {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#password::placeholder {
  color: #888;
  font-size: 18px;
}

label {
    display: flex;
    text-align: left;
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 5px;
    white-space: nowrap;
    color: aliceblue;
    font-size: larger;
}

label input[type="number"] {
   height: 20px;
   width: 50px;
   border: 2px solid white;
   border-radius: 4px;
   color: aliceblue;
}

label span {
    display: block;
    flex: 1 1 0%;
}

